.header {
    background-color: #191919;
    height: 150px;
    
}
.header h1 {
    padding-top: 50px;
    color: white;
    text-align: center;
    font-family: helvetica;
}

body {
     width: 100%;
                height: 100%;
                margin: 0px;
                padding: 0px;
                background-color: #DFE2DB;
                overflow-x: hidden;
}

.list ul {
    list-style-type: none;
    height: 50px;
}

.list li a {

  left: 100px;
  height: 40px;
  float: left;
  margin-right: 0px;
  border-bottom: 3px solid lightslategrey;
  padding: 0 24px;
  font-family: helvetica;
  text-decoration: none;
  color: black;
}

li a:hover {
    font-weight: bold;
    color: #333;
}

.img img {
    height: 300px;
    width: 100%;
    //padding-bottom: 40px;
    
}

.container2 {
    margin-top: 5%;
    background-color: lightblue;
    height:100%;
    padding-bottom: 3%;
}

.container2 img {
    height: 300px;
    width: 15%;
    padding-left: 20px;
    padding-top: 20px;
    float: left;
    padding-right: 20px;
}

.text {
    padding-top: 20px;
}
.text p {
    font:20px helvetica;
    text-align: left;
}

.text2 p {
    font:20px helvetica;
    text-align: center;
}

.under p {
    font:10px helvetica;
    text-align: center;
    padding-top: 100px;
    line-height: 2px;
}