



body {
     width: 100%;
                height: 100%;
                margin: 0px;
                padding: 0px;
                background-color: lightsteelblue;
                overflow: hidden;
}
.text p {
   //float: right;
   // margin-right: 100px;
    line-height: 400%;
    font: 18px/1.5 Helvetica, Verdana, sans-serif;
    position: relative;
    right: -100px;
    bottom: -20px;
    padding: 0px;
    border: 0px;
}



.nav {
    
    margin-bottom: -20px;
    background-color: cadetblue;
    
}

.nav p{
   font: 24px/1.5 Helvetica, Verdana, sans-serif;
   position: relative;
   text-align: center;
   bottom: 100px;
   
}

.nav img {
    position:relative;
    left: 10%;
    
}

.video {
 float: left;
 bottom: 500px;
 margin-left: 20px;
    
}

.list {
  margin: 30px;
}
 
ul {
  overflow: auto;
  list-style-type: none;
  position: relative;
  top: -90px;
  left: 30%;
}
 
li {
  left: 100px;
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 24px;
}
 
li:last-child {
  border-right: none;
}
 
li a {
  text-decoration: none;
  color: lightsteelblue;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover {
 color: #666;
}
 
li.active a {
  font-weight: bold;
  color: #333;
}